html{
  position: relative;
  min-height: 100%;
}

body {
  background-color: white;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.navbar-custom {
    background-color: white;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.boxshadoweffect {
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.25);
}


.navbar-nav > li > a {padding-top:0px !important; padding-bottom:0px !important;}
.navbar {min-height:15px !important}

.custom-popover li {
  border: none!important;
  text-align: center;

}

.popover-body{
  /*padding: 0px;*/
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

li:hover { background-color:#E9ECF0; }

.popover-link {
  /* This flexbox code stretches the link's clickable
   * area to fit its parent block. */
  display:        block;
  flex-grow:      1;
  flex-shrink:    1;
  justify-content: center;
}

.tab {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}

.modal { background: rgba(000, 000, 000, 0.1); min-height:1000000px; }

.signup_modal {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
}

.greybgd{
  background-color:#F5F5F5
}

.altbgd{
  background-color:#42b72a;
  border-color:#42b72a;
}

.altbgd:hover{
  background-color:darkgreen;
  border-color:darkgreen;
}

.formErrors{
  color:red;
}

a:hover {
text-decoration: none !important;
}
a:active {
text-decoration: none !important;
}

.remove-padding{
  padding: 0px;
}

/*.custom-popover li:nth-child(2) {
  border-top: 1px solid #ccc!important;
}
.custom-popover li:last-child {
  border-top: 1px solid #ccc!important;
}*/

.popover .arrow {
    display: none;
}

#loader { display: none; }
