

@font-face {
  font-family: Lato-Regular;
  src: url('/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato-Black;
  src: url('/fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: Lato-Light;
  src: url('/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: Lato-Hairline;
  src: url('/fonts/Lato/Lato-Hairline.ttf');
}

html{
  position: relative;
  min-height: 100%;
}

body {
  font-family: Lato-Regular;
}

body {
  background: #f4f5f7;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:black;
  color:grey;
  font-size: 15px;
}

@media screen and (max-width: 575px) {
  .footer {
    font-size: 13px;
  }
}

.footer a:hover {
  color:lightgrey!important;
  text-decoration: none !important;
}

.footer a {
  font-family: Lato-Light;
  color:grey!important;
  font-weight: 100;
}
.footerList{
    font-family: Lato-Light;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a{
  color:#0e35b4;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.boxshadoweffect {
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.25);
}


.navbar-nav > li > a {padding-top:0px !important; padding-bottom:0px !important;}
.navbar {
  min-height:15px !important;
}

.custom-popover li {
  border: none!important;
  text-align: center;

}

.popover-body{
  /*padding: 0px;*/
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

.popover-link {
  /* This flexbox code stretches the link's clickable
   * area to fit its parent block. */
  display:        block;
  flex-grow:      1;
  flex-shrink:    1;
  justify-content: center;
}

.tab {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}

.modal { background: rgba(000, 000, 000, 0.1); min-height:1000000px; }

.signup_modal {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
}

.greybgd{
  background-color:#F5F5F5
}

.formErrors{
  color:red;
}

a:hover {
text-decoration: underline !important;
color:#0e35b4;

}
a:active {
text-decoration: none !important;
}

.remove-padding{
  padding: 0px;
}

/*.custom-popover li:nth-child(2) {
  border-top: 1px solid #ccc!important;
}
.custom-popover li:last-child {
  border-top: 1px solid #ccc!important;
}*/

.popover .arrow {
    display: none;
}

#loader { display: none; }

/** dashboard **/



@media screen and (max-width: 575px) {
  .hide-on-mobile {
    display:none;
  }

  .aditiBgrndDiv{
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(/images/bg1.png);
    background-size: 200%!important;
  }
}

@media screen and (min-width: 575px) {
  .hide-on-nonmobile {
    display:none;
  }

}

@media screen and (max-width: 768px) {
  .hide-on-mobile_nav {
    display:none;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-nonmobile_nav {
    display:none;
  }

}

/* Facebook and Google login buttons */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: white;
  color: #4A4A4A;
}
.loginBtn--google:before {
  background: url('/images/google_icon.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #F5F5F5;
}

/* trainee dashboard tables */
/*  table formatting */

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

/* upcoming sessions table control desktop*/
.column1.upcoming {
  width: 40%;
  padding-left: 40px;
}

.column2.upcoming {
  width: 20%;
}

.column3.upcoming {
  width: 20%;
}

.column4.upcoming {
  width: 20%;
}

/* unassigned sessions table control desktop*/
.column1.unassigned {
  width: 20%;
  padding-left: 40px;
}

.column2.unassigned {
  width: 20%;
}

.column3.unassigned {
  width: 60%;
}
  /* list of trainers table control desktop*/
.column1.trainerlist {
  width: 35%;
  padding-left: 40px;
}

.column2.trainerlist {
  width: 75%;
}

/* TRAINER dashboard tables */


.column1.traineelist {
  width: 40%;
  padding-left: 40px;
}
.column2.traineelist {
  width: 15%;
}
.column3.traineelist {
  width: 10%;
}
.column4.traineelist {
  width: 20%;
}

.column1 {
  width: 35%;
  padding-left: 40px;
}

.column2 {
  width: 15%;
}

.column3 {
  width: 60%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 45px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}


.tableTitle{
  font-family: Lato-Bold;
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
}



.table100 th {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;

  background-color: transparent;
}

.table100 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;

  background-color: #f7f7f7;
}

.table100 .table100-body tr {
  overflow: hidden;
  border-bottom: 10px solid #fff;
  border-radius: 10px;
}

.table100 .table100-body table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table100 .table100-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table100 .table100-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table100 .table100-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table100 tr:hover td {
  background-color: #ebebeb;
}

.table100 .table100-head th {
  padding-top: 25px;
  padding-bottom: 25px;
}

/*---------------------------------------------*/

.table100 {
  overflow: hidden;
}

/*-Mobile Tables--*/
@media screen and (max-width: 575px) {
  .table100-head th {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .table100-body td {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 13px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .table100 th {
    font-family: Lato-Bold;
    font-size: 13px;
    color: #555555;
    line-height: 1;

    background-color: transparent;
  }

  .table100 td {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #808080;
    line-height: 1.0;

    background-color: #f7f7f7;
  }

  .table100 .table100-body tr {
    overflow: hidden;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
  }

  .table100 .table100-body table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  .table100 .table100-body td {
      border: solid 1px transparent;
      border-style: solid none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left:2px;
      padding-right:2px;
  }
  .table100 .table100-body td:first-child {
      border-left-style: solid;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  .table100 .table100-body td:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
  }

  .table100 tr:hover td {
    background-color: #ebebeb;
  }

  .table100 .table100-head th {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

/* Page background */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #500472 !important;
    border-color:#500472 !important;
    text-decoration: none !important;
}

.blueButton{
  background-color: #190472 !important;
  border-color:#190472 !important;
  text-decoration: none !important;
}

.greyfont{
  color:grey;
  text-align:center;
}

.lightgreyfont{
  color:lightgrey;
  text-decoration: underline;
}
.lightgreyfont:hover{
  color:grey!important;
}

.greyfontNoCenter{
  color:grey;
}

.centerButton{
  text-align:center;
  justify-content: center;
}

.pillRegButton{
  background-color:white !important;
  color:#500472 !important;
  border: 1px solid !important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}

.pillLoginButton{
  background-color:white !important;
  color:#500472 !important;
  border: 1px solid !important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.pillLoginButton:hover, .pillRegButton:hover{
  text-decoration: none !important;
}

.pillRegButton.active{
  background-color:#500472 !important;
  color:white !important;
  border-color: #500472 !important;
}

.pillLoginButton.active{
  background-color:#500472 !important;
  color:white !important;
  border-color: #500472 !important;
}

.borderbottom{
  border-bottom: 1px solid grey;
}

.purpleFont{
  color:#500472;
}

.planHeaderButton{
  padding-top:25px;
  padding-bottom:25px;
  width:100px;
  opacity:.6;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.activeOpacity{
  opacity:1;
}

.activeOpacity::after {
  content: "";
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #500472;
  height: 0;
  width: 0;
  position: absolute;
  right: 90px;
  top: 100%;
  transform: translateY(-50%);
}

@media screen and (max-width: 575px) {

  .activeOpacity{
    opacity:1;
  }

  .activeOpacity::after {
    content: "";
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #500472;
    height: 0;
    width: 0;
    position: absolute;
    right: 40px;
    top: 100%;
    transform: translateY(-50%);
  }

  .plansMobileHeader{
    font-size: 13px;
    margin-top:10px;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px
  }

  .centerButton{
    padding-left:0px;
    padding-right:0px;
  }
  .plansMobileContent{
    font-size: 12px;
  }

  .borderbottom{
    margin-left:3px;
    margin-right:3px;
  }
  .planHeaderButton{
    font-size: 13px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:0px;
    padding-right:0px;
    width:80px;
  }
}

@media screen and (min-width: 575px) and (max-width: 800px){
  .center{
    padding-left:0px;
    padding-right:0px;
  }

  .planHeader{
    padding-left:0px;
    padding-right:0px;
    width:80px;
  }
}

.continueBtn{
  width:300px;
  height:40px;
}

.inactiveOpacity{
  opacity:.4;
  text-align:center;
}

.orderConfirmationContainer{
  background-color: white;
  border-radius:10px;
}

.greyBorder{
  border: solid 3px;
  border-color:#EFEEFA;
}

.whiteBgd{
  background-color: white;
}

a.userMenu:hover {
  background-color: #190472;
  color:white;
  text-decoration: none !important;
}

a.burgerOption:hover {
  color:#0071c2!important;
}

.whiteBackground{
    background: white!important;
}

.bg-lightgrey {
  position: relative;
}

.bg-lightgrey:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50%);
  height: 100%;
  width: 100vw;
  background: #f9f9fb;
  border-top: 1px solid #d3d3d3;

}

.bg-lightgreynoborder {
  position: relative;
}

.bg-lightgreynoborder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50%);
  height: 100%;
  width: 100vw;
  background: #f9f9fb;
  border-bottom: 1px solid #d3d3d3;

}

html {
  overflow-x: hidden;
}

.navbar-toggle {
  border: none!important;
}

.navbar-toggler {
  border: none!important;
}



.modal-header{
  border-bottom:none!important;
}

.miniOfferingHeader{
  font-size: 19px;
}

@media screen and (max-width: 575px) {
  .textMobileNormal{
    font-size: 12px;
  }

  .miniOfferingHeader{
    font-size: 14px;
  }

  .largerHowItWorks{
    width:95%;
  }

}

.fixed {
  position:fixed;
  top:50px;
}

.sticky
{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.whiteSVG{
  fill:white;
}

.roundedUserMenuDropdown{
  border-radius: 6px;
}

.stickyUserMenu{
  padding: 0;
  border: none;
  background: none;
}

.stickyUserLogout{
  padding: 0;
  border: none;
  background: none;

}

.navbar-custom {
    background-color: white;
}

.stickyLogin{
  position:absolute;
  top:25px;
  right:25px;
  z-index:100;
}

.stickySignup{
  position:absolute;
  top:25px;
  right:90px;
  z-index:100;
}

.stickyLogo{
  position:absolute;
  height:40px;
  top:25px;
  left:100px;
  z-index:100;
}

.float{
	position:fixed;
	width:35px;
	height:35px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:30px;
	text-align:center;
  font-size:30px;
  z-index:100;
}

.float:hover{
  background-color:darkgreen;
  color:white;
}
.my-float{

  position:relative;
  bottom:6.5px;

}

.fa-whatsapp:hover{
  background-color:darkgreen;
  color:white;
}

@media screen and (max-width: 575px) {
  .footerBottomPadMob {
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;
  }
}

@media screen and (max-width: 575px) {
  .footerTopMarginMob {
    margin-top:20px;
  }
}

@media screen and (max-width: 575px) {
  .footerWriteUpMob {
    text-align:center;
    font-family:Lato-Light;
    padding-left:0px;
    margin-left:0px;

  }
}

@media screen and (min-width: 575px) {
  .footerWriteUpDesktop {
    text-align:left;
    font-family:Lato-Light;
  }

}

.dashCard{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 3px 6px 0px #00000020;
  -moz-box-shadow: 0px 3px 6px 0px #00000020;
  box-shadow: 0px 3px 6px 0px #00000020;
  background-color:white
}

.dashCardTitle{
  font-family:Lato-Light;
  font-size:20px;
}

.headerShadow{
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
}

.bigSignUpButton{
  background-color:white !important;
  border-color: #500472 !important;
  color:#500472 !important;\

}

@media screen and (max-width: 575px) {
  .instructions-area{
    margin-left: 15px;
    margin-right: 15px;
  }

  .welcomeText {
    font-size:15px;
  }

  .mobileDiv {
    padding:0px;
    margin-top:0px !important;
  }

  .containerReducePadding{
    padding-top:20px;
    padding-left:8px;
    padding-bottom:8px;
  }

  .dashMobTitle{
    text-align: center;
    font-size:16px;
  }

  .dashMobTextInner{
    text-align: center!important;
    font-size:13px!important;
    padding-bottom:7px !important;
    padding-top:7px !important;
    padding-left:3px !important;
    padding-right:3px !important;
  }

  .mobCenterDiv{
    text-align: center!important;
  }

  .mobHeader{
    font-size:20px!important;
  }

  .mobText{
    font-size:14px!important;
  }

  .dashMobInstrInner{
    font-size:13px!important;
    padding-bottom:7px !important;
    padding-top:10px !important;
    padding-left:3px !important;
    padding-right:3px !important;
  }

  .miniCalPadding{
    padding-top:7px !important;
    padding-bottom:7px !important;
  }

}

@media screen and (max-width: 767px) {
  .hideOnLessThanIpad {
    display:none;
  }

  #navbarLinks{
    margin-left:50px;
    margin-top:25px;
    margin-bottom:25px;
  }
}

.faqHeader{
  background-color:white !important;
  padding:0px !important;
}

.faqBody{
  background-color: #F5F5F5 !important;
}

h5 > .btn {
  text-align: left;
}

.breadcrumb{
  background-color: transparent !important;
}

.activeMenuLink{
  color:#0071c2 !important;
}

.bigSignUpButton:hover{
  background-color:#500472 !important;
  border-color: #500472 !important;
  color:white!important;
  text-decoration: none !important;
}

.breadcrumbContiner{
  font-size:13px !important;
}

.offeringsTrialButton{
  position:absolute!important;
  top:300px;
  left:150px;
}

@media screen and (max-width: 575px) {
  .breadcrumbContiner{
    padding-left: 5px !important;
  }
  .mobileTitle{
    font-family: Lato-Bold;
      font-size:16px;
  }

  .offeringsPic{
    width:120%;
  }

  .offeringsTrialButton{

  }
}

.fade {
  opacity: 1;
}

@media screen and (min-width: 575px) {
  .testimonialCard{

    height:270px;
    background-color:white;
    border-radius:20px;
    text-align: left;
    padding:25px;
    padding-top:60px;

  }

  .testimonialPic{
    width:175px;
    position:absolute;
    top:-70px;
    left:200px;

  }

  .testimonialRowMargin{
    margin-top: 100px;
  }

  .testimonialRowPadding{
    padding-top:125px;
  }

}

@media screen and (max-width: 575px) {

  .testimonialCard{

    font-size:13px;
    background-color:white;
    border-radius:20px;
    text-align: left;
    padding:25px;
    padding-top:60px;

  }

  .testimonialPic{
    width:135px;
    position:absolute;
    top:-60px;
    left:100px;
  }

  .testimonialMobileTopMargin{
    margin-top:80px;
  }

  .offeringsPic{
    width:70%;
  }
}

@media screen and (min-width: 575px) and (max-width: 800px){
  .testimonialCard{

    height:350px;
    background-color:white;
    border-radius:15px;
    text-align: left;
    padding:25px;
    padding-top:60px;

  }

  .testimonialPic{
    width:150px;
    position:absolute;
    top:-70px;
    left:110px;
  }

  .testimonialRowMargin{
    margin-top: 100px;
  }

  .testimonialRowPadding{
    padding-top:125px;
  }

  .offeringsPic{
    width:70%;
  }
}

/*********************************************************************/
/* Bootstrap 4 Multiple Item Carousel */
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {

  .testiWrapper{
    height: 380px;
  }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
}

@media (max-width: 575px) {


  #desktopIpadCarousel{
    display:none;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media screen and (min-width: 575px) and (max-width: 768px){
  .testiWrapper{
    height: 450px;
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
      transform: translateX(0);
  }
}


/* Current plan table control desktop*/
.column1.curPlan {
  width: 20%;
  padding-left: 40px;
}

.column2.curPlan {
  width: 20%;
}

.column3.curPlan {
  width: 20%;
}

.column4.curPlan {
  width: 40%;
}

/* Past plans table control desktop*/
.column1.pastPlan {
  width: 20%;
  padding-left: 40px;
}

.column2.pastPlan {
  width: 20%;
}

.column3.pastPlan {
  width: 60%;
}

/* mobile plan tables */
@media screen and (max-width: 575px) {
  .column1.curPlan {
    width: 20%;
    padding-left: 5px;
  }

  .column2.curPlan {
    width: 30%;
  }

  .column3.curPlan {
    width: 30%;
  }

  .column4.curPlan {
    width: 20%;
  }

  /* Past plans table control desktop*/
  .column1.pastPlan {
    width: 20%;
    padding-left: 5px;
  }

  .column2.pastPlan {
    width: 40%;
  }

  .column3.pastPlan {
    width: 50%;
  }

  .table100.plansTable{
    margin-top: 15px!important;
  }

  .card-body.profileCard{
    padding-left:10px!important;
    padding-right:10px!important;
  }
}

.yourFormsBtn{
  color:white;
  background-color: #190472 !important;
  border-color:#190472 !important;
}

.yourFormsBtn:hover{
  background-color: #500472 !important;
  color:white;
  text-decoration: none !important;
}

.profileNavItem:hover{
  text-decoration: none !important;
  color:black;
}

.profileNavItem.active{
  background-color: #190472 !important;
}

#yourFormsMobBtn{
  position:absolute;
  top:70px;
}

.burgerOption:hover{
  text-decoration: none!important;
}

.coreTeamCardTop{
  color:white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#0071c2;
  -webkit-box-shadow: 0px 3px 6px 0px #00000020;
  -moz-box-shadow: 0px 3px 6px 0px #00000020;
  box-shadow: 0px 3px 6px 0px #00000020;
  margin-right:20px;
}

.coreTeamCardMain{
  -webkit-box-shadow: 0px 3px 6px 0px #00000020;
  -moz-box-shadow: 0px 3px 6px 0px #00000020;
  box-shadow: 0px 3px 6px 0px #00000020;
  margin-right:20px;
}

.coreTeamCardBottom{
  color:white;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:#0071c2;
  margin-right:20px;
}

@media screen and (max-width: 575px) {
  .coreTeamCardTop{
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top:2px;
    padding-bottom:2px;
    background-color:#0071c2;
    -webkit-box-shadow: 0px 3px 6px 0px #00000020;
    -moz-box-shadow: 0px 3px 6px 0px #00000020;
    box-shadow: 0px 3px 6px 0px #00000020;
    margin-right:5px;
    font-size: 13px;
  }

  .coreTeamCardMain{
    -webkit-box-shadow: 0px 3px 6px 0px #00000020;
    -moz-box-shadow: 0px 3px 6px 0px #00000020;
    box-shadow: 0px 3px 6px 0px #00000020;
    margin-right:5px;
  }

  .coreTeamCardBottom{
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color:#0071c2;
    margin-right:5px;
    font-size: 11px;
    padding-left:0px;
    padding-right:0px;
  }

  .coreTeamMember{
    width:100%;
  }
}
